/* layout.tsx */
.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top nav ul{
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.footer {
  position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* home.tsx */
.main {
  display: grid;
  place-items: center;
}

.introduction{
  max-width: 20rem;
  text-align: center;
}
